<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>creator</key>
	<string>Luis Finke</string>
	<key>version</key>
	<string>1.0</string>
	<key>name</key>
	<string>TemplateStage</string>
	<key>mainScript</key>
	<string>TemplateStage.chai</string>
	<key>type</key>
	<string>Stage</string>
	<key>otherScripts</key>
	<array>
	</array>
</dict>
</plist>