<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Template Character</string>
	<key>mainScript</key>
	<string>TemplateCharacter.chai</string>
	<key>otherScripts</key>
	<array>
		<dict>
			<key>mainScript</key>
			<string>TemplateProjectile.chai</string>
			<key>type</key>
			<string>Projectile</string>
		</dict>
	</array>
</dict>
</plist>